<nav class="navbar fixed-top">
  <div class="navbar-brand">
    <%= link_to "Home", root_path, class: "navbar-item" %>
    <%= link_to "RetroRent", root_path, class: "navbar-item" %>
  </div>

  <div class="search-container">
    <form class="form-inline">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>

  <div class="navbar-end">
    <%= link_to "Rent", root_path, class: "navbar-item" %>
    <%= link_to "Sign In", root_path, class: "navbar-item" %>
  </div>
</nav>
