<nav class="navbar">
  <div class="navbar-brand">
   <%= link_to "Home", root_path, class: "navbar-item" %>
    <%= link_to "RetroRent", root_path, class: "navbar-item" %>
  </div>

    <div class="navbar-end">
      <%= link_to "Rent", root_path, class: "navbar-item" %>
            <%= link_to "Sign In", root_path, class: "navbar-item" %>
      </div>
  </div>
</nav>
