
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RENTAL PAGE</title>

  <style>
  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .container {
    padding: 2px 16px;
  }
  </style>
  </head>


<body>

  <h1>Header</h1>

  <div class="card">
    <img src="C:\Users\grace\OneDrive\2024 onwards Post Graduation\mariocartgame.png" alt="gameimage" style="width:100%">
    <div class="container">

      <h3><b>Retro Game Title</b></h3>
      <h2>Game Description</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum laoreet lacus ut augue dignissim, a tincidunt enim fringilla. Vivamus tincidunt tincidunt elit vel congue. Nam rutrum risus velit, sed sodales dui finibus sed. Praesent posuere dui vitae fermentum venenatis. Mauris id porta nisl.
        Morbi tincidunt, libero quis convallis porttitor, quam magna bibendum ex, sed aliquet metus nibh non ante. Praesent ullamcorper urna ac vestibulum convallis.
        leo lectus finibus orci, feugiat convallis ipsum velit at nisi. Nulla viverra et mi a cursus. Aliquam ut mattis risus. Sed interdum mauris eget sem molestie, id scelerisque enim luctus. Phasellus hendrerit ut lorem in finibus.</p>
      <h4>£ per day</h4>
    </div>
  </div>


</body>
</html>
