<div class="cover mb-4 d-flex align-items-center justify-content-center">
  <div class="text-center">
    <h1>Your Retro Dreamland</h1>
    <h3 class="typed-js" data-controller="typed-js"></h3>
  </div>
</div>

<div class="container cards-all">
  <% if @games.empty? %>
    <h3>Sorry, no games found <span class="font-size">&#128128;</span></h3>
  <% else %>
    <div class="row">
      <div class="col-12">
        <h2 class="title-nw">Newly Added</h2>
        <div class="game-cards p-3">
          <% @games.each do |game| %>
            <%= link_to game_path(game), class: 'card-link' do %>
              <%= render "games/game", game: game %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
