<h1 class="games-new-title">Add a new game</h1>

<div class="background-grey row">
  <div class="col-6">
    <h1 class="listings-new" ></h1>
  </div>
  <%= simple_form_for(:game_search, method: "get", url: new_game_path) do |f| %>
    <%= f.input :name, wrapper_html: {class: "game-name-wrapper"}, label_html: {class: 'game-name-label'}, input_html: {class: 'game-name-input', value: @game_name} %>
    <%= f.submit 'Search for game', class: 'btn btn-primary game-submit-button'%>
  <% end %>
  <div class="game-cards p-3">
    <% @games&.each do |game| %>
      <%= render "games/game", game: game %>
    <% end %>
    <% if @games&.empty? %>
      <p>No games found</p>
    <% end %>
  </div>
</div>
