  <div class="row m-0">
    <div class="col-8">
      <div class="card-game-show">

        <div class="row bg-white">
            <div class="col-6">
              <%# TODO code link below information %>
                <h2 class="gametitles"><b> Mario Cart</b></h2>
                <%# TODO CENTRE THIS %>
                <%= image_tag "mobile_MarioKartTour_screen_01-1260x1260.png", alt: @game.name, class: "imagemario"%>
            </div>

            <div class="col-6">
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                                <div class="containergrace">
                                    <h4 ><b>About</b></h4>
                                    <p></p>
                                    <%# TODO code link below information %>
                                    <div class="gameinfo">
                                      <h6>GameBoy</h6>
                                      <h6>Action</h6>
                                      <h6>2003</h6>
                                      <p></p>
                                    </div>
                                    <div class="gamedescription">
                                      <%# TODO code link text %>
                                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum laoreet lacus ut augue dignissim, a tincidunt enim fringilla. Vivamus tincidunt tincidunt elit vel congue. Nam rutrum risus velit, sed sodales dui finibus sed. Praesent posuere dui vitae fermentum venenatis. Mauris id porta nisl.</p>
                                    </div>
                                    <%# TODO code link below information %>
                                    <h6 class="pricetext"><b>£2.00/day</b></h6>
                                </div>
                                    <button type="button" class="btngrace">Rent Game</button>
                  </div>
                  <div class="flip-card-back">
                                <div class="containergrace">
                                    <h4 ><b>Rent</b></h4>
                                    <p></p>
                                    <div class="rentform">
                                      <%= render 'bookings/form', game: @game, booking: @booking %>
                                    </div>
                                </div>
                  </div>
                </div>
              </div>

            </div>
        </div>
      </div>
    </div>
  </div>
