<li>Name: <%= @game.name %></li>
<li>Console: <%= @game.console %></li>
<li>Genre: <%= @game.genre %></li>
<li>Year: <%= @game.year %></li>
  <%#= link_to "Delete",
    #review_path(game),
   # data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
 # %>
