@mixin flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.cards-all {
  // margin-top: 300px;
  padding: 16px;
}

  .game-cards {
  @include flex-container;
  width: 100%;
  margin:auto;
  padding: 50px;
}


.card {
  flex: 0 1 auto;
  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: 30px;
  overflow: hidden;
  width: 220px;
  height: 300px;
  margin-bottom: 16px;
  border: dotted #540375;
  ;
}

.card img {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  height: 150px;
  padding: 5px;
  object-fit: contain;
  padding-top: 15px;
  border-bottom: solid  #540375;;
  background-color:  rgba(139, 139, 137, 0.225);
}

.log-in-card {
  flex: 0 1 auto;
  background-color: white;
  border: 1px solid #e7e7e7;
  border-radius: 30px;
  box-shadow: 0 20px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  margin-bottom: 16px;
  width: 700px;
  margin-top: 100px;
}

.game-cards a {
  text-decoration: none;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 4px 8px 0 #540375;
}
