.navbar {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;

  .navbar-brand, .navbar-end {
    .navbar-item {
      font-size: 24px;
      font-weight: bold;
      padding: 8px 16px;
      color: #333;
      &:hover {
        background-color: #e7e7e7;
      }
    }
  }

  .search-container {
    display: flex;
    .form-inline {
      display: flex;
      flex-grow: 1;
      .form-control {
        margin-right: 8px;
      }
      button {
        padding: 6px 12px;
      }
    }
  }
}

.spacer {
  height: 63px;
}
