.navbar {
  background-color: #FF7000;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 70px;
  }

  .icon {
    width:50px;
  }

  .navbar a {
    text-decoration: none;
  }

  .navbar-item {
    width:60px;
    height: 60px;
  }

  .form-control {
    font-size: 12px;
  }

.navbar-end i {
  width:50px;
  padding:5px;
  size: 50px;
}

#query {
  width:450px;
  size: 50px;
  border-radius: 30px;
}

.search-container{
align-content: center;
}

.search-container .fa-magnifying-glass{
  width:50px;
  padding:5px;
  size: 50px;
}

.spacer {
  // height: 76px;
  // margin-top:70px;
  height: 76px;
  margin-top: -23px;
}

.navbar-brand .logo {
  height:50px;
  width:50px;
  }

.navbar-brand .logo2 {
  height:50px;
  width:150px;
}
